<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
<link href="/Users/jasondavis/Desktop/caraProj/main.css" rel="stylesheet" type="text/css">

</head>

<body>

<div id= "top">

	<div id="test">
<!-- 	<div id="logo">
    <img src = "/Users/jasondavis/Desktop/caraProj/logo.png"  alt=""/>
    </div> -->
    
<!--     <div id="menu">
    	<p>About   |   Login</p>
    </div> -->
    </div>
    
	<div id="topimg">
		<img src = "/Users/jasondavis/Desktop/caraProj/capabilities.png"  alt=""/>
	</div>


<p id="hero">Care with Confidence.</p>
<p id="subhero">Manage the health of your loved-ones<br>using the Pebble Watch.</p>
	
</div>


<div id="about">

<div id="aboutwrap">

<div id="pebble"><img src = "/Users/jasondavis/Desktop/caraProj/steel_steel_silver_leather-7768244376c13007fb22109f27bc53c5.png"  alt=""/></div>

<div id="yee">
<p>Cara helps you remotely manage 
health regimens.</p>

<p>Use our web app to set medication 
schedules, exercise goals, and nutrition 
for the Pebble Watch.</p>

<p>Then use our data visualization suite to 
track the progress of treatment. </p>
</div>
</div>

</div>

</body>
</html>
