


#left-content
	= render Patient.first


#content
	- display = Alert.all.count > 0 ? 'block' : 'none'
	#alert-box style='display:#{display}'
		.title.fa.fa-exclamation-circle   Alert
		- Alert.all.each do | alert | 
			= render alert


	ul#main-menu
		li.menu-item
			= render "partials/menu_item", {title: 'Medication', icon: 'fa-medkit'}
			.menu-content
				ul#medication-list
			        - @patient.medications.each do | med |
			        	= render med
			        - medication = Medication.new
			        - medication.patient = @patient
			        = render medication

		li.menu-item
			= render "partials/menu_item", {title: 'Messages', icon: 'fa-comment' }
			.menu-content

		li.menu-item
			= render "partials/menu_item", {title: 'Movement', icon: 'fa-arrow-right'}
			.menu-content
			


coffee:
	#################################
	# Menu bar
	#################################
	$('#main-menu .bar ').click ->
		minimize = $(this).find('.minimize')
		value = minimize.attr('value') != 'true' ? 'true' : 'false'
		minimize.attr('value', value)
		minimize.closest('li').find('.menu-content').
			slideToggle()

	$('.patient').click ->
		$(this).toggleClass('spin')
		setTimeout =>
			$(this).removeClass('spin')
		, 1000

	#################################
	# Initialize Timepicker
	#################################
	$('.timepicker').timepicker()

	#################################
	# New / Edit Medication
	#################################
	$('.medication #new').click ->
		$(this).toggle()
		$(this).siblings('#update').toggle()

	$('.medication #edit').click ->
		$(this).parent('.medication').find('#display').toggle()
		$(this).parent('.medication').find('#update').toggle()

	$('.medication #delete').click ->
		$.ajax
			url: 'delete_med'
			data: 
				id: $(this).attr('value')
			success: (data)=>
				$(this).closest('.medication').remove()

	#################################
	# Week Day Selector
	#################################
	days = []
	$('#week-box label').click ->	
		id = $(this).attr('for')
		val = $(this).attr('value')
		if val in days 
			days.splice days.indexOf(Number(val)), 1
		else
			days.push Number(val)

		$(this).closest('.medication').
			find('#medication_days').
			val(JSON.stringify(days))


	$('.for-all').click ->	
		console.log(days.length)
		if days.length >= 7
			days = []
			$(this).siblings('input').attr('checked', false)
		else 
			days = [0,1,2,3,4,5,6]
			$(this).siblings('input').attr('checked', true)

		$(this).closest('.medication').
			find('#medication_days').
			val JSON.stringify(days)

	#################################
	# Form submit
	#################################
	$('.medication').find('input[type=submit]').click ->
		medication = $(this).closest('.medication')
		form = $(this).closest('form')
		form.ajaxForm (data) =>
			$(data).insertBefore medication

		medication
			.find('#new').click()


	#################################
	# Alert box
	#################################
	updateDates = (timeout=false)->
		$('.date').each ->
			time = $(this).attr('time')*1000
			$(this).html moment(time).fromNow()
		if timeout
			setTimeout updateDates, 5000
			



	bindDelete = ->
		$('#alert-box').find('.delete').unbind('click').click ->
			$.ajax 
				url: 'delete_alert'
				data: 
					id: $(this).siblings('#alert-id').attr('value')
				success: =>
					$(this).closest('.message').slideToggle 400, ->
						$(this).remove()

					if $('#alert-box .message').length == 1
						$('#alert-box').slideToggle()


	updateAlerts = ->
		$.ajax 
			url: 'get_alerts'
			data:
				id: $('#alert-box').find('.message').last().attr ('alert-id')
			success: (data)->
				if data is 'none'
					return

				if $('#alert-box .message').length == 0
					$('#alert-box').slideToggle(true)

				$('#alert-box').append $(data)
				updateDates()
				bindDelete()



		setTimeout updateAlerts, 5000
			
	bindDelete()					
	updateAlerts();
	updateDates(true);
			