/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "standards";


body {
	font-family: Source Sans Pro;
	background: $blue;
	padding: 0px;
	margin: 0px;
}



/*******************************
* Login Screen
********************************/
#login-box {
	margin-top: 200px;
	width: 150px;
	margin: auto;

	.row {
		width: 100%;
		height: 25px;
		padding-top: $padding;

		input {
			height: 100%;
			box-sizing: border-box;
			width: 100%;
		}
	}
}