

@import "standards";

$height: 50px;


#header {
	font-weight: 100;
	font-family: Source Sans Pro, sans-serif;
	background: rgba(black, 0.5);
	color: white;
	padding: 15px;
	height: $height;

	.title {
		font-family: Helvetica Neue, Source Sans Pro, sans-serif;
		font-size: 40px;
	}

	.right-links {
		height: 100%;
		line-height: $height;
		float: right;
		color: white;

		.link {
			margin-right: 20px;
		}
	}
}

